 .about_container {
    height: auto;
    margin-top: -5%;
  
 }


 .about_me {

     border-radius: 2rem;
     border: var(--accentColor3) solid;
     background: white;
     display: flex;
     flex-wrap: wrap;
     width: 50%;
     height: 15%;
     margin-top: -8%;
     margin-left: 40%;
     margin-bottom: 5%;
     transform: rotate(0);
     box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    
     
    
 }

 .about_me:hover {
        border-color: white;
        box-shadow: 0 0 5px 5px var(--accentColor3);
    
    
 }

 .gtkm, .ts {
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-left: 35%;

 }

 .ts {
    margin-left: 38%;
    margin-top: -7%;
 }


.profilePic {
    width: 20rem;
    position: absolute;
    overflow: hidden;
    margin-left: 10%;
    margin-top: 25%;
 
}

p {
 margin: 1.2rem;
 color: var(--accentColor2);
  
}


.techStack {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 40px;
    margin-left: 20%;
    margin-top: -10%;
   

}

.gridItem {

    padding: 20px;
    color: var(--accentColor4);

}

.gridItem:hover {
    box-shadow: 0 0 5px 5px var(--accentColor3);
    border-radius: 15px;
}




@media screen and (max-width: 1024px) {

    .techStack {
           
            margin-left: 9%;

}

.profilePic {
    
    margin-left: 5%;
    margin-top: 30%;

}

.about_container {
    margin-top: 5%;
}


}





@media screen and (max-width: 600px) { 

    .about_container {
            margin-top: -25%;
        }
    
    .about_me {
        width: 100%;
        margin-left: 30%;
        margin-top: -18%;
       
    }

    .profilePic {
        display: none;
    }

        .gtkm, .ts
         {
            width: 80%;
            margin-left: 40%;
        }

     .ts {
        margin-left: 48%;
        margin-top: -15%;
     }

    
        .techStack {
            grid-template-columns: auto auto auto;
            margin-left: 17%;
            margin-top: -18%;
            
        }


}