#contact {
    height: 75vh;
    margin-top: 38%;
}

.contact_container {

    display: flex;
    justify-content: center;
    margin-top: 2%;

}


.git {
width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-left: 35%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 75%;
} 

input, textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 2px solid var(--accentColor1);
  resize: none;
  
}

.submitButton {

                width: max-content;
                color: var(--accentColor1);
                padding: 0.75rem 1.2rem;
                font-size: 1.5rem;
                cursor: pointer;
                background-color: white;
                border: 1.5px solid var(--accentColor1);
                border-radius: 15px;
                transition: var(--transition);
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
                margin-left: 81.5%;

        }
    
.submitButton:hover {
            background-color: white;
                color: var(--accentColor3);
                border-color: var(--accentColor1);
        }


/*  Medium devices */

@media sreen and (max-width: 1024px) {



}

/*  Small devices */

@media sreen and (max-width: 600px) {



    
}

 