nav {
    position: absolute;
    display: flex;
    justify-content:flex-end;
    width: 100%;
    height: auto;
    padding: 10px 0 10px 30px;
    background-color: var(--backgroundColor);
    top: 0;


}

nav > img {
    width: 100px;
    height: 100px;
}


ul {
    list-style-type: none;
    display: inline;

}


li {
    display: inline;
    float: left;
    font-size: 30px;
    margin-right: 20px;
    padding: 8px 5px 0px 10px;

}


li a {
    display: block;
    padding: 10px ;
    color: var(--accentColor2);
    text-decoration: none;
}




li a:hover {
    text-decoration: none;
    color: var(--accentColor3)
}


.logo3 {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 25px;
    width: 11%;
    margin-top: -25px;

   
}
 

