header {
    height: auto;
    padding-top: 3rem;
    overflow: hidden;

   
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;

   

}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;

}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 4rem;
    margin-left: 3%;
}

.socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background-color: var(--backgroundColor);
}


.scroll_down {
    position: absolute;
    right: -1.5rem;
    bottom: 10em;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1rem;
}

.title {
    font-weight: 400;
    color: var(--accentColor2);
    padding: 10px;
    font-size: 3rem;
    width: 100%;
    margin-top: 7%;
    margin-right: 20%;
    white-space: nowrap;
    line-height: 60px;

}

.name {
    font-size: 3rem;
    color: var(--accentColor1);
}

.name:hover {
    color: var(--accentColor3);
}

/* medium devices */

@media screen and (max-width: 1024px) {
   .header {
    height: 60vh;

   } 

 }


/* small devices */

@media screen and (max-width: 600px) {
.header {
        height: 100  vh;

    }

.socials, .scroll_down {
    display: none;
}

}

