
header {
    height: auto;
    padding-top: 3rem;
   
   
}

.header_container {
    text-align: center;
    position: relative;
    height: auto;


   

}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;

}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    margin-left: 3%;
}

.socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background-color: var(--backgroundColor);
}


.scroll_down {
    position: absolute;
    right: -1.5rem;
    bottom: 9em;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1rem;
}

.title {
    font-weight: 400;
    color: var(--accentColor2);
    padding: 10px;
    font-size: 3rem;
    width: 100%;
    margin-top: 7%;
    margin-right: 20%;
    white-space: nowrap;
    line-height: 60px;
   

}

.name {
    font-size: 3rem;
    color: var(--accentColor1);
}

.name:hover {
    color: var(--accentColor3);
}

/* medium devices */

@media screen and (max-width: 1024px) {  
    
.socials {
    
    bottom: 2rem;
   }

 }


/* small devices */

@media screen and (max-width: 600px) {

header {
        padding-top: 2rem;
    }

    .title,
    .name {
        font-size: 2rem;
     
    }

    .title {
        margin-left: 30%;}


    .socials,
    .scroll_down {
        display: none;
    }

    .cta {
       margin-left: 220px;
    }

}

