/*footer {
    background-color: white;
    padding: 3rem 0;
    text-align: center;
    font-size: 1rem;
    margin-top: 6rem;
    position: relative;
  
} */

footer {
    background-color: white;
    height: 21rem;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
    margin-top: 6rem;
    position: relative;

}


footer a {
    color: var(--accentColor4);
}


.footer_logo {
    margin-top: -3%;
    display: inline-block;
    width: 12%;
}


.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: -2% auto 3rem;
}


.footer_socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}


.footer_socials a {
    background-color: var(--accentColor4);
    color: white;
    padding: 0.6rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}


.footer_socials a:hover {
background-color: transparent;
color: var(--accentColor3);
border-color: var(--accentColor4);
}


.footer_copyright {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--accentColor2);
}



/* Small devices */

@media screen and (max-width: 600px) {

footer {
    position: fixed;
    height: 12rem;
    padding: 0.2rem 0;
    font-size: .5rem;

}


    .footer_logo {
        width: 15%;
    }


    .footer_socials {
        margin-bottom: 1rem;
    }

        .permalinks {
            gap: 0.5rem;
            margin: -5% auto 1rem;
        }

} 