* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --backgroundColor: #f5f4ec;
    --accentColor1: #2ca58d;
    --accentColor2: #2F323A;
    --accentColor3: #F87060;
    --accentColor4: #7D84B2;



    --transition: all 400ms ease; 
    --container-width-l: 75%;
    --container-width-m: 86%;
    --container-width-s: 90%;

}


html {
    scroll-behavior: smooth;
}


body {
    font: arial;
    background-color: var(--backgroundColor);
    line-height: 1.7;
}



.container {
    width: var(--container-width-l);
    margin: 0 auto;
}


h1, h2, h3, h4, h5 {
   font-weight: 500;
   color: black;

}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
    height: 100vh;
}

section > h2, section > h5 {
    text-align: center;
} 

section > h2 {
    color: green;
    margin-bottom: 3rem;

}

.text-light {
    color: green;
     
}

a {
    color: var(--accentColor2);
    transition: var(--transition); 
}


a:hover {
    color: var(--accentColor1)
}

.btn1, .btn2 {
    width: max-content;
    display: inline-block;
    color: var(--accentColor1);
    padding: 0.75rem 1.2rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: white;
    border: 1.5px solid var(--accentColor1);
    border-radius: 15px;
    transition: var(--transition);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    
}

.btn2 {
    background-color: var(--accentColor1);
    color: white;
}

.btn1:hover{
    background-color: white;
    color: var(--accentColor3);
    border-color: var(--accentColor1);
}

.btn2:hover {
    background-color: var(--accentColor3);
    color: white;
    border-color: var(--accentColor3);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
} 



/* medium devices */

@media screen and (max-width: 1024px) {
 .container { 
    width: var(--container-width-m);
 }

 section  {
    margin-top: 6rem; 
 }
}


/* small devices */

@media screen and (max-width: 600px) {

    .container {
        width: var(--container-width-s);
    }

   section > h2 {
    margin-bottom: 2rem;
   }

}

